{
  "eleventa": {
    "databasePath": "C:\\Eleventa\\Data\\PDVDATA.FDB",
    "pollingIntervalSeconds": 10
  },
  "infile": {
    "signingUrl": "https://signer-emisores.feel.com.gt/sign_solicitud_firmas/firma_xml",
    "certificationUrl": "https://certificador.feel.com.gt/fel/certificacion/v2/dte/",
    "cancellationUrl": "https://certificador.feel.com.gt/fel/anulacion/dte/",
    "nitConsultUrl": "https://consultareceptores.feel.com.gt/rest/action",
    "signingKey": "",
    "certUser": "",
    "certKey": "",
    "emitterCode": "",
    "signingAlias": "",
    "copyEmail": "",
    "certifierNit": "12521337",
    "useSandbox": true
  },
  "emitter": {
    "nit": "",
    "name": "",
    "commercialName": "",
    "address": "",
    "zipCode": "",
    "municipality": "",
    "department": "",
    "country": "GT",
    "taxpayerType": "PEQ",
    "currencyCode": "GTQ",
    "establishmentCode": "1",
    "frases": []
  },
  "printer": {
    "printerName": "",
    "paperWidthMm": 58,
    "enabled": true
  },
  "system": {
    "dataDirectory": "Data",
    "logDirectory": "Logs",
    "invoiceDirectory": "Invoices",
    "queueRetryIntervalSeconds": 60,
    "maxRetryAttempts": 10,
    "postponedExpirationDays": 3
  }
}
